<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Record a New Game</h1>
  </div>
</div>
<div class="row score-grid">
  <div class="col-md-2">
    <%= render "players/new" %>
  </div>
  <div class="col-md-10">

  </div>
</div>
